{% extends "page.twig" %}

{% block extra_content_after %}
  <div class="b-themes hspace">
    <div class="wrapper">
      <h2>{{ __('Les thématiques scientifiques', 'septiemecontinent') }}</h2>
      <ul class="b-themes-list">
        {% for theme in themes %}
          <li class="b-themes-list-item">
            <a href="{{theme.link}}">
              <div class="b-themes-list-item-title">
                {{theme.title}}
              </div>
              <div class="b-themes-list-item-excerpt">
                {{ theme.excerpt({ words: 200, read_more: '' }) }}
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}