{% extends "page.twig" %}

{% block page_header %}{% endblock %}

{% block extra_content_before %}
  <div class="b-textImage hspace" data-order="reverse" data-background="polar" data-margin="small" data-imagesize="440">
	<h1 class="wrapper">{{post.post_title}}</h1>
    <div class="wrapper">
        <div class="b-textImage-text">
            <h3 class="b-textImage-text-title">{{header_pedago.title}}</h1>
            {{header_pedago.text}}
			{% include "partial/social-links.twig" %}
        </div>
        <div class="b-textImage-image">
			{{ get_attachment_image(header_pedago.image, "440x9999x0") }}
        </div>
    </div>
</div>
{% endblock %}