# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
!web/app/plugins/pgm-settings
web/app/mu-plugins/*/
web/app/themes/twentytwentythree/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache/*
web/app/languages
web/app/wflogs

web/app/themes/septiemecontinent/wordpress
web/app/themes/septiemecontinent/vendor
web/app/themes/septiemecontinent/node_modules

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml


#db files
*.sql.gz
.sql