.button {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s;

  svg {
    width: 20px;
    height: 20px;
    margin-right: 4px;
  }
  &:hover { 
    background-color: #fff;
    color: #000;
  }
}
