.c-push {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-width: 300px;
    border-radius: 0 50px 0 0;
    text-decoration: none;

    &:first-child {
        background: var(--color-primary);
    }
    &:nth-child(2) {
        background: var(--color-cerulean);
    }
    &:nth-child(3) {
        background: var(--color-secondary);
    }
    &-title {
        @include font-size(22px);
        padding: 20px 20px;
        margin: 0;
        color: #fff;
    }
    &-image {
        overflow: hidden;
        @include fit(400, 245);

        img {
            transform: scale(1);
            transition: transform 0.5s ease-in-out;
        }
    }
    &-text {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 40px 20px 15px 53px;
        background: transparent linear-gradient(0deg, #000000A5 0%, #00000000 100%) 0% 0% no-repeat padding-box;
        color: #fff;
        font-weight: 700;
        @include rhythm(16, 22);

        svg {
            position: absolute;
            top: 45px;
            left: 22px;

            path {
                fill: currentColor;
            }
        }
    }
    &:hover {
        .c-push-image img {
            transform: scale(1.1);
        }
    }
}