.blog {
    #content {
        background: var(--color-polar);
        padding-top: 40px;
    }
    .postsList {
        @include respond-to(small) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
.single-post {
    @include respond-to(small) {
        .layout-sidebar h3 {
            display: none;
        }
    }
}
.blog, .single-post {
    .b-instagram {
        padding-top: 60px;
        padding-bottom: 0; 
    }
}