.tax-type, .post-type-archive-partenaires {
    .content-wrapper {
        background: var(--color-polar);
    }
    h1 {
        color: var(--color-cerulean);
        margin: 0;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}  