<div class="b-instagram">
    <div class="hspace">
        <div class="wrapper">
            <h2 class="b-instagram-title">En images</h2>
            <a href="" class="button">Sur Insta</a>
        </div>
    </div>
    {{ function('do_shortcode', '[instagram feed="148"]') }}
</div>