<div class="b-latestPosts">
    <div class="wrapper">
        <h2 class="b-latestPosts-title hspace">{{ __("L'actualité", 'septiemecontinent') }}</h2>
        {% include("partial/posts-list.twig") with {"posts":posts} %}
    </div>
</div>