<div class="b-sliderLogos" data-background="{{ fields.background }}" data-controller="logoslider">
    <div class="wrapper">
        <h2 class="hspace">{{ fields.title }}</h2>

        <div class="b-sliderLogos-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    {% for logo in fields.logos %}
                        <div class="swiper-slide">
                            {{ get_attachment_image(logo, '130x130x0') }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</div>