.b-textImage {
    background: var(--color-polar);

    h1.wrapper {
        flex-direction: row !important;
        justify-content: flex-start;
        margin-top: 0;
        margin-bottom: 30px;
        color: var(--color-cerulean);
        text-align: left;
        @include rhythm(40, 44);

        @include respond-to('medium') {
            padding-top: 20px;
            justify-content: center;
            padding-left: var(--hspace);
            padding-right: var(--hspace);
        }
    }
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        @include respond-to('small') {
            flex-direction: column-reverse;
        }
    }
    &-image {
        font-size: 0;

        @include respond-to('small') {
            align-self: flex-start;
            width: 100%;
            margin-bottom: 30px;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
    .b-textImage-text {
        flex: 1;
        padding-right: 63px;

        &-title {
            margin: 0 0 10px;
            @include rhythm(22, 28);
            color: var(--color-cerulean);
        }
        p {
            @include rhythm(14, 20);
            margin: 10px 0;

            &:last-child {
                margin-bottom: 0;
            }
        }
        .button {
            margin-top: 20px;
        }
        .social-links {
            margin-top: 20px;
        }
        @include respond-to('small') {
            width: 100%;
            padding: 0 var(--hspace) !important;
        }
    }
    @include respond-to('small') {
        padding-top: 0 !important;
        padding-bottom: 40px !important;

        &.hspace {
            padding-right: 0;
            padding-left: 0;
        }
    }

    // Order
    &[data-order='reverse'] {
        .wrapper {
            flex-direction: row-reverse;

            @include respond-to('small') {
                flex-direction: column-reverse;
            }
        }
        .b-textImage-text {
            padding-right: 0;
            padding-left: 63px;

            @include respond-to('small') {
                padding: 0;
            }
        }
    }

    // Margin
    &[data-margin='small'] {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    &[data-margin='large'] {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    // Background
    &[data-background='polar'] {
        background: var(--color-polar);
    }
    &[data-background='white'] {
        background: #fff;
    }
    &[data-background='white_pattern'] {
        background: url(../img/trame_white.png) no-repeat top left #fff;

        &[data-order='reverse'] {
            background: url(../img/trame_white_reverse.png) no-repeat top right #fff;
        }
    }

    // Image size
    &[data-imagesize='banner'] {
        &.hspace {
            padding-right: 0;
        }
        .b-textImage-image {
            position: relative;
            width: 50%;
            height: 360px;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 50vw;
                height: 100%;
                object-fit: cover;
            }
            @include respond-to('small') {
                width: 100%;
                height: auto;

                img {
                    position: static;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    &[data-imagesize='465'] {
        .wrapper {
            width: 930px;
        }
        .b-textImage-image {
            flex: 0 1 50%;
            max-width: 465px;
        }
    }
    &[data-imagesize='440'] {
        .wrapper {
            width: 1000px;
        }
        .b-textImage-image {
            flex: 0 1 50%;
            max-width: 440px;
        }
    }
    &[data-imagesize='video'] {
        .wrapper {
            width: 1000px;
        }
        .b-textImage-image {
            flex: 0 1 50%;
            max-width: 600px;
            @include fit(16, 9);
        }
    }
    &[data-imagesize='gallery'] {
        padding-top: 100px;
        padding-bottom: 45px;

        .wrapper {
            width: 1000px;
        }
        .b-textImage-image {
            position: relative;
            flex: 0 1 50%;
            max-width: 440px;

            &::before {
                content: "";
                display: block;
                width: 100%;
                padding-bottom: calc((525 * 100) / 420) * 1%;
            }
            &-gallery {
                position: absolute;
                top: 0;
                left: 0;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: auto;
                width: 100%;
                gap: 10px;
        
                & > img:first-child {
                    grid-column: span 2;
                }
            }
        }

        @include respond-to('small') {
            padding-top: 60px;
            padding-bottom: 30px;

            .wrapper {
                width: 100%;
            }
            .b-textImage-image {
                max-width: 100%;

                &::before {
                    display: none;
                }
                &-gallery {
                    position: static;

                    img {
                        width: 440px;
                        max-width: 100%;
                    }
                    img:not(:first-child) {
                        display: none;
                    }
                }
            }
        }
    }
}