{% block footer %}
    <footer class="footer">
        <div class="footer-social hspace">
            <div class="wrapper">
                {% include "partial/social-links.twig" %}
            </div>
        </div>
        <div class="footer-menu hspace">
            <div class="wrapper">
                {{ svg('logo') }}
                <nav class="footer-menu-nav" role="navigation">
                    {% include "partial/menu.twig" with {'items': menu.get_items} %}
                </nav>
            </div>
        </div>
        <div class="footer-colophon hspace">
            <div class="wrapper">
                © {{"now"|date('Y')}} Expédition 7ème Continent, tous droits réservés
            </div>
        </div>
    </footer>
    {{ function('wp_footer') }}
{% endblock %}