$ease_out_back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$ease_out_quart: cubic-bezier(0.165, 0.84, 0.44, 1);

$colors: (
  "primary": #073654,
  "secondary": #57FFD2,
  "polar": #E4F1FA,
  "cerulean": #0071AE,
  "grey": #F0F0F0
);

:root {
  --background-color: #fff;
  --text-color: #{map-get($colors, "primary")}; 
  --accent-color: #{map-get($colors, "secondary")};

  @each $color, $value in $colors {
    --color-#{$color}: #{$value};
    --color-#{$color}-rgb: #{red($value)}, #{green($value)}, #{blue($value)};
  }

  --vspace: 80px;
  --hspace: 30px;

  @media (max-width: 767px) { 
    --vspace: 40px; 
    --hspace: 20px;
  }
}
