@import "variables";
@import "normalize";
@import "fonts";

// MIXINS
@import "mixins/fit";
@import "mixins/font";

body#tinymce.wp-editor {
  padding: 20px 40px !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: var(--text-color);

  img {
    max-width: 100%;
    height: auto;
  }
  iframe {
    max-width: 100%;
  }

  // COMPONENTS
  @import "components/headings";
  @import "components/button";
}
