@import "variables";
@import "normalize";
@import "fonts";

// MIXINS
@import "mixins/fit";
@import "mixins/font";
@import "mixins/breakpoints";

// COMPONENTS
@import "components/button";
@import "components/footer";
@import "components/header";
@import "components/headings";
@import "components/link";
@import "components/navigation";
@import "components/pageHeader";
@import "components/pagination";
@import "components/partner";
@import "components/postsList";
@import "components/push";
@import "components/showHide";
@import "components/sidebar";
@import "components/socialLinks";
@import "components/tease";

// BLOCKS
@import "blocks/homeHero";
@import "blocks/instagram";
@import "blocks/latestPosts";
@import "blocks/pushs";
@import "blocks/sliderLogos";
@import "blocks/stats";
@import "blocks/team";
@import "blocks/textImage";
@import "blocks/themes";

// PAGES
@import "pages/404";
@import "pages/blog";
@import "pages/home";
@import "pages/partenaires";
@import "pages/single";

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: var(--text-color);
}

body {
  @include respond-from(medium) {
    overflow-x: hidden;
  }
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--text-color);
  background: var(--color-secondary);
}

::selection {
  color: var(--text-color);
  background: var(--color-secondary);
}

a {
  color: var(--text-color);
  text-decoration: underline;

  &:hover {
    color: var(--color-cerulean);
  }
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

select {
  appearance: none;
  padding: 15px 40px 15px 15px;
  border: 2px solid rgba(var(--color-primary-rgb), 0.2);
  background: url('../img/svg/arrow_down.svg') no-repeat right 15px center var(--color-grey);
  color: var(--text-color);
  border-radius: 0;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;

  &:focus-within {
    background-image: url('../img/svg/arrow_up.svg');
  }
}

.hspace {
  padding-left: var(--hspace);
  padding-right: var(--hspace);
}

.wrapper {
  width: 1215px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

// layout with sidebar
.content-wrapper.with-sidebar {
  display: flex;
  padding: 40px var(--hspace) 75px;
  justify-content: center;
  margin: 0 auto;

  .layout-main {
    flex: 0 1 755px;
  }

  .layout-sidebar {
    flex: 0 1 360px;
    min-width: 360px;
    margin-left: 40px;

    select {
      display: none;
    }
  }

  @include respond-to('medium') {
    flex-direction: column;

    .layout-main {
      flex: 1;
    }

    .layout-sidebar {
      flex: 1;
      margin-left: 0;
      margin-top: 40px;
      min-width: 0;

      ul {
        display: none;
      }

      select {
        display: block;
        width: 100%;
      }
    }
  }
}