@import "variables";
@import "normalize";
@import "fonts";

// MIXINS
@import "mixins/fit";
@import "mixins/font";
@import "mixins/breakpoints";

// COMPONENTS
@import "components/headings";
@import "components/button";
@import "components/header";
@import "components/footer";
@import "components/navigation";
@import "components/pageHeader";
@import "components/pagination";
@import "components/postsList";
@import "components/push";
@import "components/tease";

// BLOCKS
@import "blocks/homeHero";
@import "blocks/latestPosts";
@import "blocks/pushs";
@import "blocks/stats";
@import "blocks/textImage";
 
// PAGES
@import "pages/blog";
@import "pages/home";

* {
  box-sizing: border-box;
}
html { 
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: var(--text-color);
}
body {
  @include respond-from(medium) {
    overflow-x: hidden;
  }
}

::-moz-selection { /* Code for Firefox */
  color: var(--text-color);
  background: var(--color-secondary);
}

::selection {
  color: var(--text-color);
  background: var(--color-secondary);
}

a {
  color: var(--text-color);
  text-decoration: underline;

  &:hover {
    color: var(--color-cerulean);
  }
}

img {
  max-width: 100%;
  height: auto;
}

.hspace {
  padding-left: var(--hspace);
  padding-right: var(--hspace);
}
.wrapper {
  width: 1215px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}